extends headers

block body
    div.ui.borderless.huge.menu
      a.header.item(href="/") Home
      a.item(href="/login") Login
    div.main
      block content
      noscript You need to enable JavaScript to run this app.